
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;




$color_g_1: #7a7a7a !default;
$color_g_2: #3a3a3a !default;
$color_g_3: #bababa !default;
$color_g_4: #d6d6d6 !default;


$color_d_1: #1b1b1b !default;
$color_d_2: #121212 !default;
$color_d_3: #232323 !default;


body{
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
}

.custom_css_property { 
  
  --primary-color: green;
   color: var(--primary-color) 

  }

.container{
  background: $body-bg;
  width: 980px;
  margin: 0 auto;

   .box-title{
     color: $orange;
   }
   .image-box{
     position: relative;

    img{
      max-width: 100%;
      
    }
    .info{
     position: absolute;
     width: 100%;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
    background: $color_d_1;
    color: $green;
    padding: 6rem;
    line-height: 1.2rem;
     font-size: 1rem;
     cursor: pointer;
     
     transition: all 3s linear;


     &:hover{
       opacity: 0;
       text-transform:capitalize;
     }

  
    }
    
   }


   .bg{
    background: url("../style/images/bg2.jpg");
    background-size: cover;
    width: 100%;
    min-height: 30rem;
    position: relative;
  overflow: hidden;

  .liner {
    background-image: linear-gradient( to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,0.4) 95%, rgba(0,0,0,0) 100%);
    height: 100%;
    /* background: red; */
    width: 100%;
    position: absolute;
    display: block;
}
  
    .content{
      color: $purple;
      width: 100%;
      color: #9561e2;
     
      position: absolute;
      width: 100%;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);

     .grid-cell{


      &:hover{

        .con{

          span {
            display: flex;
            line-height: 100%;
            background:$teal;
            height: 100%;
            /* margin-top: 25%; */
            /* align-items: center; */
            text-align: center;
            align-items: center;
            justify-content: center;
            transition: all 3s linear;
            color: #fff;
            position: relative;
        
            // border-radius: 10px;

            // &::before{
            //   content: "";
            //   position: absolute;
            //   border: 2px solid;
            //   left: -4px;
            //   top: -4px;
            //   width: 100%;
            //   height: 100%;
            //   padding: 2px;
            //   transform: rotate(-5deg);
            //   z-index: -1;
            //   background: $indigo;
            // }
            // &::after{
            //   content: "";
            //   position: absolute;
            //   border: 2px solid;
            //   left: -10px;
            //   top: -10px;
            //   width: 100%;
            //   height: 100%;
            //   padding: 8px;
            //   transform: rotate(5deg);
            //   z-index: -2;
            //   background: $green;
            // }
        }
        }
        

      }
     }

     .grid-cell {
      border: 0;
      height: 100px;
      line-height: 100px;
      background: transparent;
    
      }

     .con {
      // border-right: 1px solid #2f5f7d;
      height: 100%;
      line-height: 100%;
      display: block;
      text-align: center;
      // background: rgba(0, 0, 0, .75);
      padding: 10%;
      transition: all 3s linear;

      span {
        display: flex;
        line-height: 100%;
        background: antiquewhite;
        height: 100%;
        /* margin-top: 25%; */
        /* align-items: center; */
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all 1s linear;
    }
  }
      
    }
  }

}

.grid {
  display: flex;

  .grid-cell {
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    flex:1;
    background:$color_g_3;
    text-align: center;
    }
  }



  .shape-three {
    position: absolute;
    top: 21%;
    right: 22%;
    -webkit-animation: animationFramesTwo 13s linear infinite;
    animation: animationFramesTwo 13s linear infinite
  }
  
  .shape-four {
    position: absolute;
    top: 27%;
    left: 7%;
    -webkit-animation: animationFramesFour 25s linear infinite alternate;
    animation: animationFramesFour 25s linear infinite alternate
  }
  
  .shape-five {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: animationFramesThree 35s linear infinite alternate;
    animation: animationFramesThree 35s linear infinite alternate
  }
  
  .shape-six {
    position: absolute;
    top: 70%;
    right: 3%;
    -webkit-animation: animationFramesFour 20s linear infinite alternate;
    animation: animationFramesFour 20s linear infinite alternate
  }
  
  .shape-seven {
    position: absolute;
    bottom: 2%;
    right: 28%;
    -webkit-animation: animationFramesOne 15s linear infinite;
    animation: animationFramesOne 15s linear infinite
  }
  
  .shape-eight {
    position: absolute;
    bottom: 3%;
    left: 38%;
    -webkit-animation: animationFramesFour 20s linear infinite alternate;
    animation: animationFramesFour 20s linear infinite alternate
  }
  
  .shape-nine {
    bottom: 4%;
    -webkit-animation: animationFramesOne 17s linear infinite;
    animation: animationFramesOne 17s linear infinite
  }
  
  .shape-nine,.shape-ten {
    position: absolute;
    left: 4%
  }
  
  .shape-ten {
    top: 60%;
    -webkit-animation: animationFramesOne 20s linear infinite alternate;
    animation: animationFramesOne 20s linear infinite alternate
  }
  
  .shape-eleven {
    top: 22%;
    left: 41%
  }
  
  .shape-10,.shape-eleven {
    position: absolute;
    -webkit-animation: animationFramesOne 15s linear infinite;
    animation: animationFramesOne 15s linear infinite
  }
  
  .shape-10 {
    top: 2%;
    right: 2%
  }
  
  .shape-11 {
    position: absolute;
    top: 6%;
    right: 4%;
    -webkit-animation: animationFramesOne 15s linear infinite;
    animation: animationFramesOne 15s linear infinite
  }



  // animation

  @keyframes animationFramesOne {
    0% {
      transform: translate(0) rotate(0deg)
    }
  
    20% {
      transform: translate(73px,-1px) rotate(36deg)
    }
  
    40% {
      transform: translate(141px,72px) rotate(72deg)
    }
  
    60% {
      transform: translate(83px,122px) rotate(108deg)
    }
  
    80% {
      transform: translate(-40px,72px) rotate(144deg)
    }
  
    to {
      transform: translate(0) rotate(0deg)
    }
  }
  
  @-webkit-keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0) rotate(0deg)
    }
  
    20% {
      -webkit-transform: translate(73px,-1px) rotate(36deg)
    }
  
    40% {
      -webkit-transform: translate(141px,72px) rotate(72deg)
    }
  
    60% {
      -webkit-transform: translate(83px,122px) rotate(108deg)
    }
  
    80% {
      -webkit-transform: translate(-40px,72px) rotate(144deg)
    }
  
    to {
      -webkit-transform: translate(0) rotate(0deg)
    }
  }
  
  @keyframes animationFramesTwo {
    0% {
      transform: translate(0) rotate(0deg) scale(1)
    }
  
    20% {
      transform: translate(73px,-1px) rotate(36deg) scale(.9)
    }
  
    40% {
      transform: translate(141px,72px) rotate(72deg) scale(1)
    }
  
    60% {
      transform: translate(83px,122px) rotate(108deg) scale(1.2)
    }
  
    80% {
      transform: translate(-40px,72px) rotate(144deg) scale(1.1)
    }
  
    to {
      transform: translate(0) rotate(0deg) scale(1)
    }
  }
  
  @-webkit-keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0) rotate(0deg) scale(1)
    }
  
    20% {
      -webkit-transform: translate(73px,-1px) rotate(36deg) scale(.9)
    }
  
    40% {
      -webkit-transform: translate(141px,72px) rotate(72deg) scale(1)
    }
  
    60% {
      -webkit-transform: translate(83px,122px) rotate(108deg) scale(1.2)
    }
  
    80% {
      -webkit-transform: translate(-40px,72px) rotate(144deg) scale(1.1)
    }
  
    to {
      -webkit-transform: translate(0) rotate(0deg) scale(1)
    }
  }
  
  @keyframes animationFramesThree {
    0% {
      transform: translate(165px,-179px)
    }
  
    to {
      transform: translate(-346px,617px)
    }
  }
  
  @-webkit-keyframes animationFramesThree {
    0% {
      -webkit-transform: translate(165px,-179px)
    }
  
    to {
      -webkit-transform: translate(-346px,617px)
    }
  }
  
  @keyframes animationFramesFour {
    0% {
      transform: translate(-300px,151px) rotate(0deg)
    }
  
    to {
      transform: translate(251px,-200px) rotate(180deg)
    }
  }
  
  @-webkit-keyframes animationFramesFour {
    0% {
      -webkit-transform: translate(-300px,151px) rotate(0deg)
    }
  
    to {
      -webkit-transform: translate(251px,-200px) rotate(180deg)
    }
  }
  
  @keyframes animationFramesFive {
    0% {
      transform: translate(61px,-99px) rotate(0deg)
    }
  
    21% {
      transform: translate(4px,-190px) rotate(38deg)
    }
  
    41% {
      transform: translate(-139px,-200px) rotate(74deg)
    }
  
    60% {
      transform: translate(-263px,-164px) rotate(108deg)
    }
  
    80% {
      transform: translate(-195px,-49px) rotate(144deg)
    }
  
    to {
      transform: translate(-1px) rotate(180deg)
    }
  }
  
  @-webkit-keyframes animationFramesFive {
    0% {
      -webkit-transform: translate(61px,-99px) rotate(0deg)
    }
  
    21% {
      -webkit-transform: translate(4px,-190px) rotate(38deg)
    }
  
    41% {
      -webkit-transform: translate(-139px,-200px) rotate(74deg)
    }
  
    60% {
      -webkit-transform: translate(-263px,-164px) rotate(108deg)
    }
  
    80% {
      -webkit-transform: translate(-195px,-49px) rotate(144deg)
    }
  
    to {
      -webkit-transform: translate(-1px) rotate(180deg)
    }
  }